@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "consolas";
}

body {
    background: url(./img/background.gif) no-repeat fixed center/cover;
}

/* Loading Screen */

.loading-screen {
    width: 100vw;
    height: 100vh;
    background: #000005;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.ls-logo {
    width: 150px;
    height: 150px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.login-screen {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    color: #e1e1ff;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    align-items: center;
}

.login-form input {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
}

/* Page */

.container {
    display: none;
}

.start-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: url(./img/background.gif) no-repeat center center/cover;
}

.start-page .title {
    color: #e1e1ff;
    text-align: center;
    margin-top: 6rem;
    font-size: 2.5rem;
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease-in-out;
}

.start-page .scroll-tip {
    color: #e1e1ff;
    cursor: default;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.lobby {
    color: #e1e1ff;
    background: #010101;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.lobby .quote {
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    border-top: 1px solid #e1e1ff;
}

.lobby .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.lobby .locations .icon-link {
    margin: .5rem;
    border: 3px solid #e1e1ff;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #e1e1ff;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 280px;
    transition: all .3s ease-in-out;
}

.lobby .locations .icon-link:hover {
    box-shadow: 0px 0px 5px 1px #888899;
    background: #333;
}

.btn {
    padding: .5rem;
    border: 2px solid #333;
    background-color: #e1e1ff;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 1px #333;
}

.btn:hover {
    box-shadow: 0px 0px 20px 1px #222233;
    cursor: pointer;
    background-color: #999;
}

/* about-us */
.back-to {
    position: absolute;
    text-decoration: none;
}

.back-to img {
    width: 80px;
    height: 80px;
}

.about-us-container .main {
    height: 100vh;
    background: url(./img/keyboard.jpg) no-repeat fixed center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-container .title {
    color: #e1e1ff;
    font-size: 2rem;
    text-align: center;
}

.about-us-container .content {
    max-width: 1100px;
    width: 90%;
    height: 500px;
    background: #ccccee;
    margin: 2rem auto;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-container .content.joke {
    height: 100%;
}

.about-us-container .content .joke-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    margin: auto;
}

.about-us-container .content .content-text {
    padding: 1rem;
    width: 100%;
}
.about-us-container .content .content-text h3 {
    font-size: 2rem;
    margin: 1rem 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-us-container .content .content-img {
    background: url(./img/about-1.jpg) no-repeat center center/cover;
    height: 90%;
    width: 90%;
    margin: 1rem;
    border-radius: 10px;
}

.btn-main {
    text-decoration: none;
    color: #222233;
    background: #e1e1ff;
    padding: .5rem;
    border-radius: 10px;
    margin: 1rem;
    border: 2px solid #222233;
    box-shadow: 0px 0px 20px 1px #222233;
}

.btn-main:hover {
    background: #222233;
    color: #e1e1ff;
    box-shadow: 0px 0px 20px 1px #888899;
}




@media (min-width: 576px) {
    .about-us-container .content {
        flex-direction: row;
        align-items: flex-start;
    }

    .about-us-container .content .content-img {
        width: 400px;
    }
}